[Unit]
Description=Sonatype Nexus
After=network.target

[Service]
Type=forking
ExecStart={{nexus_home}}/bin/nexus start
ExecStop={{nexus_home}}/bin/nexus stop
User={{nexus_user}}
Group={{nexus_group}}
Restart=on-abort

[Install]
WantedBy=multi-user.target