[Unit]
Description=Jenkins
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java	-Duser.home=/opt/jenkins \
			-Djenkins.install.runSetupWizard=false \
			-Djava.awt.headless=true \
			-Dhudson.plugins.git.GitSCM.verbose=true \
			-Dorg.apache.commons.jelly.tags.fmt.timeZone=Europe/London \
			-Dhudson.plugins.parameterizedtrigger.ProjectSpecificParametersActionFactory.compatibility_mode=true \
			-Duser.timezone=Europe/Minsk \
			-Dorg.eclipse.jetty.server.Request.maxFormContentSize=5000000 \
			-Dpermissive-script-security.enabled=true \
			-XX:MaxMetaspaceSize=1g \
			-XX:+CMSClassUnloadingEnabled \
			-XX:+UseConcMarkSweepGC \
			-XX:+DisableExplicitGC \
			-Xms1000m \
			-Xmx2000m \
			-jar /opt/jenkins/jenkins.war
User=jenkins
Group=jenkins

[Install]
WantedBy=multi-user.target

