[Unit]
Description=Tomcat Application server
After=syslog.target network.target

[Service]
Type=forking

User={{tomcat_user}}
Group={{tomcat_group}}

Environment="CATALINA_HOME={{tomcat_home}}"
Environment="JAVA_OPTS=-Xms256m -Xmx512m -verbose:gc \
                  -Xloggc:{{tomcat_home}}/logs/gclog\
		          -Xss756k \
                  -XX:+HeapDumpOnOutOfMemoryError \
                  -XX:HeapDumpPath={{tomcat_home}}/logs/"

ExecStart={{tomcat_home}}/bin/startup.sh
ExecStop={{tomcat_home}}/bin/shutdown.sh


[Install]
WantedBy=multi-user.target

